<html>
<head>
<style>
.container {
  display: flex;
  justify-content: space-between; /* Adjust spacing as needed */
}

.column {
  flex: 1; /* Equal width for each column */
  padding: 12px;
}

</style>
</head>
<body>

  <div class="container">
    <div class="column">
      <p style="text-align: center;"><b>Currently Reading</b></p>
      <img style="width: 225px; height: 325px; margin-left: auto; margin-right: auto;" src="https://m.media-amazon.com/images/I/81Kaj5++6pL._AC_UF894,1000_QL80_.jpg" alt="Elon Musk by Walter Issacson">
    </div>
    <div class="column">
      <p style="text-align: center;"><b>Currently Playing</b></p>
      <img style="width: 225px; height: 325px;" src="https://m.media-amazon.com/images/I/71Tb-BFp3RL._AC_UF894,1000_QL80_.jpg" alt="Call of Duty: Modern Warfare 2">
    </div>
    <div class="column">
      <p style="text-align: center;"><b>Currently Watching</b></p>
      <img style="width: 225px; height: 325px;" src="https://resizing.flixster.com/skw95rg1oI3SEhsJzMEaF6p2spM=/ems.cHJkLWVtcy1hc3NldHMvdHZzZXJpZXMvZGU2NDQ4ZmMtYjk1NC00ZjMwLTg0OTQtNTA3MTNiMzg1ZTA4LmpwZw==" alt="Terminal List">
    </div>
  </div>

</body>
</html>

