---
layout: post
title: Automatic verification of neural networks based object detection module
image:
    path: /assets/img/blog/automatic-verification-home.jpg
description: >
  Master thesis project for the degree program M.Sc Autonomous Systems in colloboration with ThoughtWorks
sitemap: true
---
{:.lead}

- Table of Contents
{:toc .large-only}

Let me start by asking you this question. Do you know if the neural network you developed works as you intended? You might have used a verification dataset to check if your model has generalized well to unseen data. But is that enough to know the neural network's functionality is correct. What if the network is going to be deployed in a safety ctitical system like autonomous cars? It is absolutely necessary to make sure that the AI used in safety critical systems has correct functionality before we can use them.

## Verification and Validation

This is done by a process called verification and validation.